body{
    background: linear-gradient(to right,#1F4D5D,#5C307B);
}

.container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
}

.container .container-style{
    background-color: #red;
    border-radius: 5px;
    box-shadow: 2px 5px #3D3A3E;
}


.container-listado{
    padding: 15px;
}

.listado{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: 1px 1px 10px 1px;
    padding: 1px;
}

.listado ul{
    font-size: 18px;
}

.container button{
    background-color: #7D6988;
    border-radius: 100%;
    border: none;
    font-size: 3rem;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 1px 1px 3px 1px;
}

.container button:hover{
    background-color: #9685a0;
}

.input{
    background-color: #7D6988;
    border: none;
    margin:10px 0px;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 15px;
    text-align: center;
}

.input:focus{
    border-bottom: 3.5px solid black;

}

::placeholder{
    color: rgb(65, 65, 65);
    text-align: center;

}
